.square {
    background: #FFFFFF00;
    /* background-color:transparent; */
    border: 1px solid #fff;
    float: left;
    font-size: 5.9375rem;
    font-weight: bold;
    line-height: 2.125rem;
    height: 9.375rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 9.375rem;
  }